*{
  letter-spacing  : 0.05em;
  word-spacing    : 0.1em;
  color : #333;
}

html, body{
  height : 100%;
  background: black;
  font-family: 'Open Sans', sans-serif;
}
div{
  background: black;
}

p, ol, ul, blockquote, pre, code{
  font-size   : 12px/1.5;
  line-height : 1.5;
}

a {
  color : #604040;
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -ms-transition: color 500ms;
  transition: color 500ms;
}
a{
  text-decoration: none;
}
a:hover{
  color           : rgb(250, 105,0);
  text-decoration : underline;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo', sans-serif;
  letter-spacing: -0.05em;
  color         : #606060;
}


body {
}
.wrapper{
}
.first-page {
  min-height:100%;
  background: #cfccc1; /* Old browsers */
  background: -moz-linear-gradient(top, #cfccc1 0%, #b7b6ae 21%, #cec7af 74%, #d1cbba 87%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfccc1), color-stop(21%,#b7b6ae), color-stop(74%,#cec7af), color-stop(87%,#d1cbba)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cfccc1 0%,#b7b6ae 21%,#cec7af 74%,#d1cbba 87%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cfccc1 0%,#b7b6ae 21%,#cec7af 74%,#d1cbba 87%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cfccc1 0%,#b7b6ae 21%,#cec7af 74%,#d1cbba 87%); /* IE10+ */
  background: linear-gradient(to bottom, #cfccc1 0%,#b7b6ae 21%,#cec7af 74%,#d1cbba 87%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfccc1', endColorstr='#d1cbba',GradientType=0 ); /* IE6-9 */
}

.wrapper > * {
  background  : #fff;
  background  : transparent;
}

.navContainer {
  position:relative;
}

nav {
  background: rgba(245, 245, 245, 0.90);
  z-index   : 100;
  width: 100%;
  box-sizing: border-box;
}


nav.topNav {
  position:fixed;
  top:0;
  left:0;
}

nav.flowNav {
  position: absolute;
  top: 0;
  left: 0;
}

nav.spacing{
  visibility:hidden;
}

nav > ul {
  padding: 0.5em 0px;
  margin : auto;
  max-width: 670px;
}

nav > ul > li{
  display       : inline;
  padding-right : 15px;
}

nav > ul.social > li{
  padding-right : 5px;
}

nav a:hover {
  text-decoration:none;
  border-bottom: 1px solid;
}

.social a:hover{
  text-decoration:none;
}

nav > .social{
  position  : absolute;
  top       : 3px;
  right     : 50px;
  font-size : 18px;
}

nav a {
  text-decoration : none;
  font-weight     : light;
}

nav > img.logo{
  position  : absolute;
  top       : 2px;
  right     : 25px;
}

#background{
}

section {
  text-align:center;
}

section .content{
  width: 100%;
  text-align        : center;
  background        : #cfccc1;
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  overflow-y        : auto;
  -webkit-overflow-scrolling: touch;
  text-align:left;
}

section > h1 {
  background:black;
  margin-top: 0;
  padding: 40px 20px;
  margin-bottom:0;
  text-align:left;
/*
 * Could use that for a neat effect...
  background-attachment: fixed;
  background-position: 80px 80px;
  background-repeat:no-repeat;
  background-image:url("/images/demojs_normal.png");
  background-size:80px 80px
*/
}
section > h1 > span {
  max-width: 670px;
  display: block;
  margin: auto;
  color: #726A42;
}

.content > *{
  max-width: 670px;
  display: block;
  margin: 20px auto;
  line-height: 2.5;
}

.content > p {
  
}

.content .chapo{
  font-size: xx-large;
  text-align: center;
  padding: 100px 0;
  font-weight: 100;
  font-variant: small-caps;
}

.content li {
  list-style-type: square;
}

#index{
  font-family: 'Exo', sans-serif;
  font-size:xx-large
}

#index .content{
  background : transparent;
  position : absolute;
  top:0px;
  text-align:center;
  min-height:100%;
}

#index ul {
  padding : 0
}
#index ul li{
  display:inline-block;
}
#index a{
  text-decoration: underline;
  color: rgb(204, 86, 0);
}
#index img{
  max-width: 400px;
  width: 100%;
}

.content a {
  text-decoration : underline;
}
.content div{
  background: transparent;
}

.map{
  padding:0;
  max-width: 100%;
  margin-top:0;
  position:relative;
}

.map > .overlay {
    display: block;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.sponsors {
  list-style: none;
  text-align: center;
  background: #fff;
  max-width: 100%;
  padding: 0;
}

.sponsors > li {
  display: inline-block;
  vertical-align:middle;
  margin:auto;
}

.sponsors > li > a > img{
  max-width:100%;
}

.sponsors.main > li > a > img{
  max-height:150px;
}

.sponsors.comm > li > a > img{
  max-height:50px;
}

.background{
  position: absolute;
  margin: 0px;
  padding: 0px;
  width:100%;
  height:100%;
}

.background canvas{
  display:block;
  width: 100%;
  height: 100%;
}


hr {
  clear     : both;
  visibility: hidden;
}

.bus{
  display       : inline-block;
  height        : 1.5em;
  width         : 1.5em;
  text-align    : center;
  line-height   : 1.7;
}

.b86 {
  background-color:#ED1B2A;
  color:#fff;
}
.b76 {
  background-color:#652C90;
  color:#fff;
}
.b65 {
  background-color:#008C5A;
  color:#fff;
}
.b29 {
  background-color:#87D3DF;
}
.b20 {
  background-color:#F78F4B;
}
.b69 {
  background-color:#87D3DF;
}
.b87 {
  background-color:#662C91;
  color:#fff;
}

.metro{
  display       : inline-block;
  font-weight   : bold;
  height        : 1.5em;
  width         : 1.5em;
  text-align    : center;
  border-radius : 1.5em;
  line-height   : 1.7;
}

.m1{
  background-color: rgb(242, 201, 49);
}

.m5{
  background-color:rgb(222, 139, 83);
}

.m8{
  background-color:rgb(197, 163, 202);
}


@media all and (max-width: 670px){
  nav > ul > li {
    padding : 0 15px;
  }
  .navContainer span {
    display:none;
  }
}
