*{
  letter-spacing: 0.05em;
  word-spacing:0.1em;
}

html, body{
  height:100%;
}

p, ol, ul, blockquote, pre, code{
  font-size:12px/1.5;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing:-0.05em;
  color:#606060;
}

h1 {
  line-height:0.5;
}

h2 {
  line-height:1; 
}

h3{
  line-height:1.28;
}

body {
  overflow:hidden;
}

.wrapper{
  position:relative;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

.wrapper > * {
  background:#fff;
  position: absolute;
  top:0;
  left:0;
  background: rgba(255,255,255,0.8);
}

.wrapper > nav {
  position : fixed;
  top : 1%;
  left: 50px;
  right:50px;
  z-index:100;
  padding: 5px 50px;
}

nav > ul {
  padding: 0;
  margin : auto;
}

nav > ul > li{
  display: inline;
}

.background{
/*  background-color:#269;
  background-image: -webkit-linear-gradient(white 2px, transparent 2px),
  -webkit-linear-gradient(0deg, white 2px, transparent 2px),
  -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  -webkit-linear-gradient(0deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  */
  background-color:blue;
  background-image: -webkit-linear-gradient( rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%), -webkit-linear-gradient(top, red, orange, yellow, green, blue, purple, red );
  background-image: -ms-linear-gradient( rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%), -ms-linear-gradient(left, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%), -ms-linear-gradient(top, red, orange, yellow, green, blue, purple, red );
  background-image: -o-linear-gradient( rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%), -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%), -o-linear-gradient(top, red, orange, yellow, green, blue, purple, red );
  background-image: -moz-linear-gradient( rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%), -moz-linear-gradient(left, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%), -moz-linear-gradient(top, red, orange, yellow, green, blue, purple, red );
  background-image: linear-gradient( rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%), linear-gradient(left, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 50%), linear-gradient(top, red, orange, yellow, green, blue, purple, red );
  background-size: 500px 500px, 500px 500px;

}

section {
  text-align:center;
}

section .content{
  text-align        : left;
  background        : rgba(255,255,255,0.6);
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
  padding           : 50px;
  margin            : 50px;
  overflow-y        : auto;
}
