<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1">
    <title>DemoJS 2014</title>
    <link href='http://fonts.googleapis.com/css?family=Exo:200,200italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="favicon.png"/>
</head>

<body>

{{ content }}

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="js/underscore-1.2.3.min.js"></script>
<script src="js/q-0.9.1.min.js"></script>
<script src="js/zanimo-0.0.5.min.js"></script>
<script src="js/main.js"></script>

 <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-23979135-1']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
</script>

</body>
</html>

